@model TablesReady.PageApp.Models.User
@{
    ViewData["Title"] = "Login";
}
<form asp-action="Login">
    <h1>Login</h1>
    <table class="table">
        <tr>
            <td>Username:</td>
            <td><input type="text" asp-for="Username"/></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="text" asp-for="Password" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Autnenticate" class="btn btn-primary" /></td>
        </tr>
    </table>
</form>
